

/* .img_container {
  background-color: rgba(15, 2, 27, 0.96);
  height: 100vh;
  margin: 0;
  padding: 0;
} */

/* .img_center {
  width: 25vw;
} */
/* MEDIA QUERIES */

/* @media screen and (max-width: 800px) {
  
} */
