.p_description {
  text-align: center;
  padding: 0 1em;
  width: 65%;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  margin: 2em auto;
  animation: bigpre 11s infinite alternate;
}

button.btn-back {
  margin: 1em auto;
  /* background-color: var(--col-rd); */
  background-color: transparent;
  color: var(--col-whr);
  border: none;
  border-radius: 0.5em;
  padding: 0;
  transition: 0.7s;
  box-shadow: 4px 1px var(--col-rd);
  -webkit-animation: narrow 11s infinite alternate;
  animation: bigpre 11s infinite alternate;
}

button.btn-back svg:hover {
  box-shadow: 2px 1px var(--col-whr);
  background-color: var(--col-whr);
  color: var(--col-rd);
  font-size: 2.5em;
  transition: 1s;
}

button.btn-back svg {
  display: block;
  color: var(--col-whr);
  text-decoration: none;
  font-size: 2em;
  border-radius: 33em;
}

@-webkit-keyframes narrow {
  50% {
    font-size: 2.5em;
    color: var(--col-rd);
    text-shadow: -4px -1px var(--col-whr);
  }
}

@keyframes narrow {
  50% {
    font-size: 2.5em;
    color: var(--col-rd);
    text-shadow: -4px -1px var(--col-whr);
  }
}

@media screen and (max-width: 800px) {
  .p_description {
    width: 95%;
  }
}
