html,
body {
  font-size: var(--fs-400);
  font-family: "Nanum Gothic", sans-serif;
  color: var(--col-whr);
  background-color: #0c0c0c;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-weight: bolder;
}

.App {
  background-color: rgba(15, 2, 27, 0.96);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
