@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  color-scheme: light only;
  --fs-600: 2rem;
  --fs-500: 1.35rem;
  --fs-400: 1rem;
  --col-whr: #e2e1e1;
  --col-whp: #f7e4f2;
  --col-rd: #3a063e;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-image: url("./img/img-computer.png");
  background-position: center;
  background-repeat: no-repeat;
}
